
@media (min-width: 1200px) {
	.container-big{
		max-width: 1280px;
	}
}

#influence {

    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/template_resource/RLMC87YA66JR1552926015954.jpg);
    background-position: center;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 120px;


    }

#influence h2 {

    color: rgb(235, 222, 194);
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    text-align: right;
    text-rendering: optimizelegibility;
    text-transform: uppercase;

    
    

}

#influence h1 {

    color: rgb(255, 255, 255);
    font-family: Semplicita Pro, Open Sans, Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: right;


}

#influence p {

    color: rgb(235, 222, 194);
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
    text-align: right;
    text-rendering: optimizelegibility;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 1px, rgba(0, 0, 0, 0.8) 0px 1px 2px;
    
}


#influence a {

    background-color:#0c070a;
    color: #f7b10a;
    border: 1px solid #c77e19;
	display: inline-block;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding:12px 30px;
    text-align: center;
    position: fixed;
    text-transform: uppercase;

}

#influence a:hover {
	background-color: #c77e19;
}
